#union{
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #D72323;
}

#two{
  position: relative;
  bottom: 0.71%;
}

#three{
  position: relative;
  left: 40%;
  bottom: 71.51%;
}

#four{
  position: relative;
  left: 50%;
  bottom:112.3%;
}

#five{
  position: relative;
  left: 40%;
  bottom: 103.08%;
}
